/*
 * This file can be used to apply a style to all web pages you view
 * Rules without !important are overruled by author rules if the
 * author sets any.  Rules with !important overrule author rules.
 */

/* Styles for body and forms, excluding internal about:* and awesome WM site */
@-moz-document regexp('(?!(about:|http://awesome.naquadah.org/)).*') {
  body {
    background-color: white;
    color: #1f1f1f;
    -moz-appearance: none !important;
  }

  input {
    border: 1px solid #787775;
    background-color: white;
    color: #1f1f1f;
    -moz-appearance: none !important;
  }

  textarea {
    border: 1px solid #787775;
    background-color: white;
    color: #1f1f1f;
    -moz-appearance: none !important;
  }

  select {
    border: 1px solid #787775;
    background-color: white;
    color: #1f1f1f;
    -moz-appearance: none !important;
  }
}
