[Desktop Entry]
Name=ColdHex
Comment= A dark flat blue theme based on Hex (by gartecho), Krayscale (by kubicle) and kAwOken (by alecive).
X-KDE-PluginInfo-Author=denydias
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ColdHex
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://mexapi.macpress.com.br/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
[Wallpaper]
defaultWallpaperTheme=LockPaper
defaultFileSuffix=.png
defaultWidth=1680
defaultHeight=1050
